body {
    background-color: white;
}

.paredes-container{
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: auto;
    overflow: hidden;
}

.paredes {
  height:100vh;
  width: 100vw;
  flex-shrink: 0;
  scroll-snap-align: start;
  transform: translateX(-100vw); /* Cambiar */
}


.pared1{
    background-color: blue;
}
.pared2{
    background-color: red;
}
.pared3{
    background-color: yellow;
}
.pared4{
    background-color: green;
}
.botones {
    position: absolute;
    margin-top: 200px;
}
.boton1 {
    margin-left: 80%;
}