* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    background-color: white;
    min-height: 100vh;
    overflow: hidden;
}

.Container{
    display: flex;
   /* scroll-snap-type: x mandatory;
    scroll-behavior: auto; */
    height: 100vh;
    width: 100vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

.paredes {
  height:100vh;
  width: 100vw;
  flex-shrink: 0;
  scroll-snap-align: start;
  flex: 0 0 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  position: relative;
  /* transform: translateX(-100vw);  */
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
  }
  .nav-left { left: 10px; }
  .nav-right { right: 10px; }
  
  .container::-webkit-scrollbar {
    display: none;}


.pared1{
    background-color: rgb(102, 7, 102);
    position: relative;
}
.pared2{
    background-color: seagreen;
    position: relative;

}
.pared3{
    background-color: orangered;
    position: relative;

}
.pared4{
    background-color: turquoise;
    position: relative;

}
.puerta {
    background-color: peru;
    width: 30vw;
    height: 65vh;
    left: 5vw;
    bottom: 3vh;
}