h1{
    font-size: 100px;
    color:  rgba(255, 255, 255, 0.911);
    text-align: center;
}
.Inicio:hover {
    background-color: black;
    color: rgba(188, 210, 231, 0.486);
    align-items: center
}
.Inicio {
    background-color: rgb(56, 50, 44);
    color: rgba(194, 213, 230, 0.884);
    margin: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 60px;
    border-radius: 20px;
    size: 100px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 60vh;
}

body {
    background-size: cover;
    background-image: url("../Elementos/Fondo\ inicio.png");
}