* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    background-color: white;
    min-height: 100vh;
    overflow: hidden;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 160px;     
    height: 100vh;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 999;
  }
  
  .sidebar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;    
    height: 120px;  
    background-color: #444;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
    text-align: center;
  }
  
  .sidebar a:hover {
    background-color: #555;
  }
  
  /* flechas */
  .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    z-index: 900;
  }
  
  .nav-left {
    left: 10px;
  }
  
  .nav-right {
    right: 170px;   
  }


.Container{
    display: flex;
   /* scroll-snap-type: x mandatory;
    scroll-behavior: auto; */
    height: 100vh;
    width: 100vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

.paredes {
  height:100vh;
  width: 100vw;
  flex-shrink: 0;
  scroll-snap-align: start;
  flex: 0 0 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  position: relative;
  /* transform: translateX(-100vw);  */
}


  .container::-webkit-scrollbar {
    display: none;}


.pared1{
  background-image: url('../Elementos/Egipcio\ a.png');
  background-size: cover;
    position: relative;
}
.pared2{
 background-image: url("../Elementos/Egipcio\ b.png");
 background-size: cover;
    position: relative;

}
.pared3{
background-image: url("../Elementos/Egipcia\ c.png");
background-size: cover;
    position: relative;

}
.pared4{
background-image: url("../Elementos/Egipcia\ d.png");
background-size: cover;
    position: relative;

}
.botones {
    position: absolute;
    margin-top: 200px;
}
.boton1 {
    margin-left: 80%;
}
.pantallas {

position: absolute;
}
.libros {
    margin-left: 50px;
    text-align: center;
    position: absolute;
    left: 2.8vw;
    top: 42svh;
    height: 147.9px;
    width: 243.1px;
}

.esfinge {
    position: absolute;
    bottom: 22vh;
    right: 16vw;
    width: 446.9px;
    height: 475px;
}


.colores {
    position: absolute;
    bottom: 30vh;
    left: 38vw;
    width: 300px;
    height: 100px;
    background-color: rgb(175, 167, 167);
    border-width: 10px;
    border-color: rgb(90, 84, 84);
}
.sarcofago {
  height: 552.2px;
  width: 211.3px;
    position: absolute;
    left: 6.7vw;
    bottom: 20.9vh;
}
.vitrina {
position: absolute;
left: 34vw;
bottom: 11vh;
height: 359.5px;
width: 200px;
}
.reja {
position: absolute;
right: 18vw;
top: 10vh;
width: 170px;
height: 100px;
}
.piramide {
    position: absolute;
    width: 800px;
    height: 460px;
    text-align: center;
    bottom: 10vh;
}
.piIz {
  bottom: 8vh;
    left: -7vw;
}
.piDe {

    right: 2vw;
}

.lampara {
    position: absolute;
    right: 14vw;
    height: 480px;
    width: 166px;
    font-size: small;
    bottom: 10vh;
}

.formas {
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: rgb(175, 167, 167);
    border-width: 10px;
    border-color: rgb(90, 84, 84);
}

.mesa {
    position: absolute;
    background-color: rgba(117, 39, 39, 0.596);
    bottom: 5vh;
    width: 45vw;
    height: 23vh;
    text-align: center;
}

.sarcofago2 {
    position: absolute;
    width: 480px;
    height: 80px;
    left: 1vw;
    bottom: 23vh;
    text-align: center;
}
.sarcofagoArriba {
  position: absolute;
  width: 483px;
  height: 80px;
  left: 0.82vw;
  bottom: 31.6vh;
}

.estante2 {
    position: absolute;
    background-color: beige;
    left: 5vw;
    top: 30vh;
}
.trofeo {
    font-size: small;
    height: 80px;     
    width: 80px;    
    left: 8.3vw;
    position: absolute;
    top: 20.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.pila-oculta {
    position: absolute;
    right: 22vw;
    bottom: 60vh;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000; 
  }
  #pilaTrofeo {
    width: 0px !important;
    height: 0px !important;   
    bottom: auto;     
    top: 100px;       
    left: 13vw;       
    transform: translateX(-50%);
}
.sidebar .item.seleccionado {
    border: 3px solid yellow;
  }
  .sidebar .item {
    position: relative;
  }
  
  
  .sidebar .item::after {
    content: attr(data-nombre); 
    position: absolute;
    bottom: 110%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 0.8rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    z-index: 1000;
  }
  
 
  .sidebar .item:hover::after {
    opacity: 1;
  }
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 160px;       
    height: 100vh;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 999;
}

.sidebar a {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #444;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
    text-align: center;
    font-size: 1.5rem;
}

.sidebar a:hover {
    background-color: #555;
}

.sidebar a::after {
  content: attr(data-nombre);
  position: absolute;
  left: -105%; 
  top: 30%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  font-size: 0.8rem;
  z-index: 1000;
}

.sidebar a[data-nombre]:hover::after {
  opacity: 1;
}
.sidebar .item.equipado {
  outline: 3px solid limegreen;
  box-shadow: 0 0 8px rgba(0,255,0,0.25);
}

/* estilo del objeto que aparece encima de la vitrina */
#vitrina-sorpresa {
  position: absolute;
  font-size: 2rem;
  pointer-events: none;
  z-index: 2000;
  transform: translate(-50%, -100%); /* centra horizontal y lo pone sobre la vitrina */
}
.destornillador-visible {
  position: absolute;
  bottom: 9vh;
  left: 0.4vw;
  width: 45px;
  height: auto;
  cursor: pointer;
  z-index: 800;
  transform: rotate(-30deg)
}
.computadora {
  width: 290px;
  height: 235px;
  bottom: -2vh;
  right: -3vw;
  position: relative;
}
.llave {
  width: 95px;
  height: 95px;
  position: relative;
  right: -26vw;
  top: -33.6vh;
}
.PC {
  width: 95px;
  height: 160px;
  position: relative;
  top: 10vh;
  left: 5vw;
}
.Vidrio {
  position: absolute;
  top: 51vh;
  left: 67.1vw;
  height: 140px;
  width: 23px;
}
.papel {
  font-size: 17.5px;
  position: absolute;
  left: 67.35vw;
  bottom: 35vh;
  transform: rotate(40deg);
}
.piramide {
  position: absolute;
  z-index: 1;
}

.caja {
  position: absolute;
  z-index: 2;
  bottom: 650px; /* ajustá según dónde querés que esté */
  left: 1200px; /* ajustá la posición */
}